@model List<IndexProjectViewModel>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
            <h3>
                Bug Trackerdd
            </h3>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
            <a class="dropdown-item mt-2">
                @Html.Partial("_LoginPartial")
                @Html.ActionLink("Manage Accounts", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",
               style = "background-color: linen;" })
            </a>
        </div>
    </nav>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
    </button>
</div>
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
                <div class="nav-link">
                    <div class="user-wrapper">
                        <div class="profile-image">
                            <img src="~/Template/images/faces/face1.jpg" alt="profile image">
                        </div>
                        <div class="text-wrapper">
                            <p class="profile-name">Richard V.Welsh</p>
                            <div>
                                <small class="designation text-muted">Manager</small>
                                <span class="status-indicator online"></span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-success btn-block" href="@Url.Action("CreateProject", "Home")">
                        New Project

                        <i class="mdi mdi-plus"></i>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="menu-icon mdi mdi-television"></i>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","AllProject")">
                    <i class="menu-icon mdi mdi-chart-line"></i>
                    <span class="menu-title">All Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="pages/tables/basic-table.html">
                    <i class="menu-icon mdi mdi-table"></i>
                    <span class="menu-title">My Project</span>
                </a>
            </li>

            <li class="nav-item">


                <a class="menu-title" href="@Url.Action("AssignRole", "User")">User Pages</a>
                <i class="menu-arrow"></i>

                <div class="collapse" id="auth">
                    <ul class="nav flex-column sub-menu"></ul>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row purchace-popup">
                <div class="col-12">

                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                    <div class="card card-statistics">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left">
                                    <i class="mdi mdi-cube text-danger icon-lg"></i>
                                </div>
                                <div class="float-right">

                                    <div class="fluid-container">
                                        @if (!Model.Any())
                                        {
                                            <span style="margin-top:15px;">
                                                <span><strong>You have no Project</strong></span>
                                            </span>
                                        }
                                        else
                                        {
                                            foreach (var record in Model)
                                            {
                                                <div>
                                                    <p>@record.ProjectName</p>
                                                    <p>@record.DateCreated</p>
                                                    <p>@record.DateUpdated</p>
                                                    <p>


                                                        <a href="@Url.Action("Edit", "Home", new { id = record.ProjectId })">Edit</a>
                                                        <a href="@Url.Action("FullDetail", "AllProject", new { id = record.ProjectId })">Details</a>

                                                    </p>

                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <p class="text-muted mt-3 mb-0">

                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
