@model List<IndexProjectViewModel>

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}
<h2>My Projects</h2>
@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No Projects Available </strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Tickets</th>
                <th>Date Created</th>
                <th>Date Updated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.ProjectName</td>
                    <td>@record.Users.Count()</td>
                    <td>0</td>
                    <td>@record.DateCreated</td>
                    <td>@record.DateUpdated</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = record.ProjectId }) |
                        @Html.ActionLink("Details", "FullDetail", new { id = record.ProjectId })
                    </td>
                </tr>
            }

            }
        </tbody>
    </table>
}
