@model IEnumerable<Mvc2.Models.ViewModel.TicketsViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Template/images/favicon.png" />
    <style>
        .nav-link {
            padding: 5px !important;
        }

        .nav-item {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container-scroller" style="margin-bottom: 75px;">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div style="background:linear-gradient(120deg, #00e4d0, #5983e8)" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <h3>
                    Bug Tracker
                </h3>

            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <style>
                    .dropbtn {
                        background-color: #4CAF50;
                        color: white;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: lightblue;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: blue;
                            text-decoration: none;
                        }

                            .dropdown-content a:hover {
                                background-color: #f1f1f1
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown:hover .dropbtn {
                        background-color: blue;
                    }
                </style>

                <div class="dropdown">
                    <button class="btn-facebook">Account</button>
                    <div class="dropdown-content">
                        <a>@Html.Partial("_LoginPartial", new { @class = "nav-link" })</a>
                        <a>
                            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",
       })
                        </a>

                    </div>
                </div>
            </div>
        </nav>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
    <!-- partial -->
    <div>
        <button class="alert-link" style="margin-left:8px;">@Html.ActionLink("Go Back", "Tickets")</button>

    </div>

    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateUpdated)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TicketId }) |
                        @Html.ActionLink("Detail", "Detail", new { id = item.TicketId }) |
                        @Html.ActionLink("Mange Users", "AssignTickets", new { TicketId = item.TicketId })|

                        <div style="padding:3px;" class="w3-dropdown-content w3-bar-block w3-card-4">

                            @Html.ActionLink("SendNotification", "AddNotifications", new { TicketId = item.TicketId })|
                            @Html.ActionLink("RemoveNotification", "RemoveNotifications", new { TicketId = item.TicketId })
                        </div>


                    </td>
                </tr>
            }
        </tbody>
    </table>

    <footer class="footer">
        <div class="container-fluid clearfix">

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Hand-crafted & made with
                <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>

    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
<!-- partial -->
</html>

