@model CreateTicketViewModel
@{
    ViewBag.Title = "CreateTicket";
}

<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.Title, "Title:")
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Title" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description, "Description:")
        @Html.TextAreaFor(p => p.Description, new { @class = "form-control", placeholder = "Description" })
    </div>

    <div class="form-group">
        @Html.DropDownListFor(p => p.TypeId, Model.TicketType)
    </div>

    <div class="form-group">
        @Html.DropDownListFor(p => p.PriorityId, Model.TicketPriority)
    </div>
    <div class="form-group">

        <input type="file" name="Media" />
    </div>
    @Html.HiddenFor(p => p.ProjectId)
    <div class="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
