@model CreateTicketViewModel
@{
    ViewBag.Title = "CreateTicket";
}

<h2>CreateTicket</h2>
<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(false)

    <div class="form-group">
        @Html.LabelFor(p => p.Title, "Title:")
        @Html.TextBoxFor(p => p.Title, new { @class = "form-control", placeholder = "Title" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.Description, "Description:")
        @Html.TextAreaFor(p => p.Description, new { @class = "form-control", placeholder = "Description" })
    </div>
    @*<select class="form-control valid" data-val="true" data-val-number="The field Category must be a number." data-val-required="The Category field is required." id="CategoryId" name="Type" aria-describedby="CategoryId-error" aria-invalid="false">
            <option selected="selected" value="Bug">Bug</option>
            <option value="Feature">Feature</option>
            <option value="Database">Database</option>
            <option value="Support"></option>
        </select>*@
    <div class="form-group">
        @Html.DropDownListFor(p => p.TypeId, Model.TicketType)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(p => p.PriorityId, Model.TicketPriority)
    </div>
    <div class="form-group">
        
        <input type="file" name="Media" />
    </div>
    @Html.HiddenFor(p => p.ProjectId)
    <div class="">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
