@model ViewTicketViewModel

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

@if (Model == null)
{
    <div style="margin-top:15px;">
        <p><strong>No Comments Available </strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>@nameof(Model.Title)</th>
                <th>@nameof(Model.Description)</th>
                <th>@nameof(Model.Type)</th>
                <th>@nameof(Model.Status)</th>
                <th>@nameof(Model.Priority)</th>
                <th>@nameof(Model.CreatedBy.UserName)</th>
                <th>@nameof(Model.DateCreated)</th>
                <th>@nameof(Model.DateUpdated)</th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
                <td>@Model.Type</td>
                <td>@Model.Status</td>
                <td>@Model.Priority</td>
                <td>@Model.CreatedBy.UserName</td>
                <td>@Model.DateCreated</td>
                <td>@Model.DateUpdated</td>

            </tr>


        </tbody>
    </table>
}
<td>@Model.Project</td>
@if (@Model.AssignedTo != null)
{
    <span>Assigned User : </span>
    <span>@Model.AssignedTo.UserName</span>
}
@if (Model.Attachments == null) 
{
    <h5>No Attachement</h5>
}
else
{
    <h5 style="margin-top:15px;">Attachments : </h5>
    <div class="row">
        <div class="col-md-2" style="margin-bottom : 12px; margin-top:10px;">
            @Model.Attachments
        </div>
    </div>

}
<div>
        <h4>Comments</h4>
    @foreach (var record in Model.Comments)
    {
        <p style="margin-bottom:-0px">@record.Comment</p>

        <p>@Html.ActionLink("Edit", "EditComment", new { id = record.Id }) </p>
        <form method="post" action="@Url.Action("Delete", "Tickets",new { id = record.Id })"><button class="small xs" style="margin-bottom:15px">Delete</button> </form>
    }
</div>

<form action="@Url.Action("CreateComment","Tickets", new { TicketId = Model.Id })" method="post">
    <div class="form-group">
        <h4>Comment</h4>
        <textarea name="Comment" placeholder="Leave a comment"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

