@model ViewTicketViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Template/images/favicon.png" />
    <style>
        .nav-link {
            padding: 5px !important;
        }

        .nav-item {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container-scroller" style="margin-bottom: 75px;">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div style="background:linear-gradient(120deg, #00e4d0, #5983e8)" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <h3>
                    Bug Tracker
                </h3>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <style>
                    .dropbtn {
                        background-color: #4CAF50;
                        color: white;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: lightblue;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: blue;
                            text-decoration: none;
                        }

                            .dropdown-content a:hover {
                                background-color: #f1f1f1
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown:hover .dropbtn {
                        background-color: blue;
                    }
                </style>

                <div class="dropdown">
                    <button class="btn-facebook">Account</button>
                    <div class="dropdown-content">
                        <a>@Html.Partial("_LoginPartial", new { @class = "nav-link" })</a>
                        <a>
                            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",
       })
                        </a>

                    </div>
                </div>
            </div>
        </nav>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
    <!-- partial -->
    <div>
        <button class="alert-link" style="margin-left:8px;">@Html.ActionLink("Go Back", "Tickets")</button>
    </div>

    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>@nameof(Model.Title)</th>
                <th>@nameof(Model.Description)</th>
                <th>@nameof(Model.Type)</th>
                <th>@nameof(Model.Status)</th>
                <th>@nameof(Model.Priority)</th>
                <th>@nameof(Model.CreatedBy.UserName)</th>
                <th>@nameof(Model.DateCreated)</th>
                <th>@nameof(Model.DateUpdated)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
                <td>@Model.Type</td>
                <td>@Model.Status</td>
                <td>@Model.Priority</td>
                <td>@Model.CreatedBy.UserName</td>
                <td>@Model.DateCreated</td>
                <td>@Model.DateUpdated</td>
            </tr>
            <tr>
                <th>Attachment</th>
                @if (Model.Attachments == null || Model.Attachments.Count() <= 0)
                {
                    <td>No Attachement</td>
                }
                else
                {
                    foreach (var record in Model.Attachments)
                    {
                        <td>

                            <a href="@Url.Content(record?.MediaUrl ?? "~")" target="_blank">@(record?.MediaUrl)</a>
                        </td>
                        <td>
                            <form method="post" action="@Url.Action("DeleteAttachments", "Tickets",new { id = record.Id })"><button class="small xs" style="margin-bottom:15px">Delete</button> </form>
                        </td>
                    }
                }
            </tr>
        </tbody>
    </table>

    <div class="container">
        <h2>History</h2>
        <div>
            @foreach (var item in Model.TicketHistory)
            {
                <div class="panel panel-info">
                    <ul>
                        <li><strong>@item.Property:</strong> changed to <i>@item.NewValue</i> from <i>@item.OldValue</i> by <i>@item.User.UserName</i></li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <div class="container">
        <div style="margin-left: -50px" class="row">
            <div class="col-7">
                <table id="sample-datatables" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@nameof(Model.Comments)</th>
                            <th>@nameof(Mvc2.Models.Domain.TicketComment.DateCreated)</th>
                            <th>@nameof(Mvc2.Models.Domain.TicketComment.User.UserName)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in Model.Comments)
                        {
                            <tr>
                                <td>@record.Comment</td>

                                <td> @record.DateCreated</td>

                                <td>@record.User.UserName</td>
                                @if (User.IsInRole("Submitter") || User.IsInRole("Developer"))
                                {
                                    if (record.User.UserName == User.Identity.Name)
                                    {
                                        <td>@Html.ActionLink("Edit", "EditComment", new { id = record.Id })</td>
                                        <td>
                                            <form method="post" action="@Url.Action("Delete", "Tickets", new { id = record.Id })"><button class="btn-delete" style=" background:none;border:none;color:dodgerblue">Delete</button> </form>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td>@Html.ActionLink("Edit", "EditComment", new { id = record.Id })</td>
                                    <td>
                                        <form method="post" action="@Url.Action("Delete", "Tickets", new { id = record.Id })"><button class="btn-delete" style=" background:none;border:none;color:#007bff">Delete</button></form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <form action="@Url.Action("CreateComment", "Tickets", new { TicketId = Model.Id })" method="post">
                        <div class="form-group">
                            <h4>Comment</h4>
                            <input name="Comment" placeholder="Leave a comment"></input>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Hand-crafted & made with
                <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>

    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
<!-- partial -->
</html>
