@model List<TicketsViewModel>
@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}

@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
}

    <a href="@Url.Action("CreateTicket", "Tickets")">Create New</a>
@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No Tickets Available </strong></p>
    </div>
}
else
{ 

    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Type</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td>@record.Title</td>
                    <td>@record.Description</td>
                    <td>@record.Priority</td>
                    <td>@record.Type</td>
                    <td>@record.DateCreated</td>
                    <td>@record.DateUpdated</td>
                    <td>
                        
                        @Html.ActionLink("Edit", "Edit", new { id = record.Id}) |
                        @Html.ActionLink("Details", "FullDetail", new { id = record.Id })
                        
                    </td>
                </tr>
            }

            
        </tbody>
    </table>
}