@model RoleViewModel
@{
    ViewBag.Title = "AssignRole";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <form action="@Url.Action("AssignRole", "User")" method="post">
            @Html.ValidationSummary(false)

            @if (Model.AddRoles != null && Model.AddRoles.ToList().Any())
            {
                <p>Add Roles</p>
                <div class="form-group">

                    @Html.ListBoxFor(p => p.SelectedAddRoles, Model.AddRoles)
                </div>
            }
            @if (Model.RemoveRoles != null && Model.RemoveRoles.ToList().Any())
            {
                <p>Remove Roles</p>
                <div class="form-group">
                    @Html.ListBoxFor(p => p.SelectedRemoveRoles, Model.RemoveRoles)
                </div>
            }
            <input type="hidden" name="UserId" value="@Model.UserId" />
            <input type="submit" value="Submit!" />
        </form>
    </section>
</div>