@using Mvc2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Template/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Template/images/favicon.png" />
    <style>
        .nav-link {
            padding: 5px !important;
        }

        .nav-item {
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="container-scroller" style="margin-bottom: 75px;">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

            <div style="background:linear-gradient(120deg, #00e4d0, #5983e8)" class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <h3>
                    Bug Tracker
                </h3>

            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <style>
                    .dropbtn {
                        background-color: #4CAF50;
                        color: white;
                        padding: 16px;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                    }

                    .dropdown {
                        position: relative;
                        display: inline-block;
                    }

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        background-color: lightblue;
                        min-width: 160px;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                    }

                        .dropdown-content a {
                            color: blue;
                            text-decoration: none;
                        }

                            .dropdown-content a:hover {
                                background-color: #f1f1f1
                            }

                    .dropdown:hover .dropdown-content {
                        display: block;
                    }

                    .dropdown:hover .dropbtn {
                        background-color: blue;
                    }
                </style>

                <div class="dropdown">
                    <button class="btn-facebook">Account</button>
                    <div class="dropdown-content">
                        <a>@Html.Partial("_LoginPartial", new { @class = "nav-link" })</a>
                        <a>
                            @Html.ActionLink("Account Settings", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage",
       })
                        </a>

                    </div>
                </div>
            </div>
        </nav>

        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>

    </div>
    <!-- partial -->

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>

                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </section>

            <div class="dropdown">
                <button style="background-color:seagreen;height:40px;padding:3px;" class="dropbtn small">Demo Users</button>
                <div style="background-color:white" class="dropdown-content">
                    <div>
                        <a style="color:dodgerblue; padding-left:14px" href="@Url.Action("DemoLogins", "Account",new { user="Admin"})">Admin</a>
                    </div>
                    <a style="color:dodgerblue; padding-left:14px" href="@Url.Action("DemoLogins", "Account",new { user="Project Manager"})">Project Manager</a>
                    <a style="color:dodgerblue;  padding-left:14px" href="@Url.Action("DemoLogins", "Account",new { user="Submitter"})">Submitter</a>
                    <a style="color:dodgerblue;padding-left:14px" href="@Url.Action("DemoLogins", "Account",new { user="Developer"})">Developer</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <footer class="footer">
        <div class="container-fluid clearfix">

            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                Hand-crafted & made with
                <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>


    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
<!-- partial -->
</html>

