@model IEnumerable<Mvc2.Models.ViewModel.IndexProjectViewModel>

<h2>AllProject</h2>

<p>
    @Html.ActionLink("Create New", "CreateProject")
</p>
<table id="sample-datatables" class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCount)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketCount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                    @Html.ActionLink("Details", "FullDetail", new { id = item.ProjectId })|
                    @Html.ActionLink("Mange Users", "AssignProjects", new { ProjectId = item.ProjectId })|
                    <form method="post" action="@Url.Action("Archive", "Project",new { id = item.ProjectId })"><button class="small xs" style="margin-bottom:15px">Archive</button> </form>
                    @*@Html.ActionLink("Archive", "Archive", new { ProjectId = item.ProjectId })*@
                </td>
            </tr>
        }

    </tbody>
</table>
