@model AssignProjectViewModel

<h2>AssignProjects</h2>

<div class="content-wrapper">
   
    <section class="content">
        <form action="@Url.Action("AssignProjects", "Project")" method="post">
            @Html.ValidationSummary(false)

            @if (Model.AddUsers != null && Model.AddUsers.ToList().Any())
            {
                <p>Add User</p>
                <div class="form-group">

                    @Html.ListBoxFor(p => p.SelectedAddUsers, Model.AddUsers)
                </div>
            }
            @if (Model.RemoveUsers != null && Model.RemoveUsers.ToList().Any())
            {
                <p>Remove User</p>
                <div class="form-group">
                    @Html.ListBoxFor(p => p.SelectedRemoveUsers, Model.RemoveUsers)
                </div>
            }
            <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
            <input type="submit" value="Submit!" />
        </form>
    </section>
</div>