@model List<IndexProjectViewModel>


<h2>My Projects</h2>
@if (!Model.Any())
{
    <div style="margin-top:15px;">
        <p><strong>No Projects Available </strong></p>
    </div>
}
else
{
    <table id="sample-datatables" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Tickets</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                <tr>
                    <td> @record.ProjectName </td>
                    <td> @record.Users.Count() </td>
                    @*<td> @record.Tickets.Count() </td>*@
                    <td> @record.DateCreated </td>
                    <td> @record.DateUpdated </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = record.ProjectId }) |
                        @Html.ActionLink("Details", "FullDetail", new { id = record.ProjectId })

                        @if (User.IsInRole("Submitter"))
                        {

                            @Html.ActionLink("CreateTicket", "CreateTicket", new { controller = "Tickets", id = record.ProjectId }@*, new { }*@)
                        }

                    </td>
                </tr>
            }


        </tbody>
    </table>
}
