@model List<IndexProjectViewModel>

@{
    ViewBag.Title = "AllProject";
}

@section css {
    <link rel="stylesheet"
          href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
}
@section Scripts {
    <script type="text/javascript"
            src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sample-datatables').DataTable();
        });</script>
}

<h2>AllProject</h2>

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row purchace-popup">
            <div class="col-12">

            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-cube text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">

                                <div class="fluid-container">
                                    @if (!Model.Any())
                                    {
                                        <span style="margin-top:15px;">
                                            <span><strong>You have no Project</strong></span>
                                        </span>
                                    }
                                    else
                                    {
                                        foreach (var record in Model)
                                        {
                                            <div>
                                                <p>@record.ProjectName</p>
                                                <p>@record.DateCreated</p>
                                                <p>@record.DateUpdated</p>
                                                <p>@record.Tickets</p>
                                                <p>
                                                    <a href="@Url.Action("Edit", "Project", new { id = record.ProjectId })">Edit</a>

                                                </p>

                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
